<div class="login-wraper">
  <div class="login-content">

    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" [formControl]="username" required name="username" value="" placeholder="admin">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [formControl]="password" class="form-control" required name="password" value="" placeholder="admin123">
      </div>
      <div class="login-action-btn">
        <button class="btn btn-success" (click)="login()">Login</button>
      </div>
    </form>
  </div>
</div>
